.faq__container {
  min-height: calc(100vh - 92px);
  width: 95vw;
  max-width: 1800px;
  margin: 2rem auto;
  animation: transitionIn 2000ms;
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 50vh;
  width: 100%;
}

.faq__title {
  font-family: IntegralCF-bold, sans-serif;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 2px;
  transform-origin: left;
  transition: all 0.3s ease;

  background: url("./../../assets/faq.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.faq__desc {
  font-family: IntegralCF-regular, sans-serif;
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  stroke {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
}

// Cards div
.faq__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.faq__card {
  width: 90%;
  min-width: 250px;
  max-width: 650px;
  height: 15rem;
  margin: 1rem;
  display: flex;
  gap: 3rem;
  padding: 1rem;
  flex-direction: column;

  border: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9),
      rgba(255, 213, 252, 0.8)
    ),
    1px solid;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, red, purple);
  border-image-slice: 1;
}

.faq__card-title {
  font-family: IntegralCF-regular;
  letter-spacing: 2px;
}

@keyframes transitionIn {
  from {
    opacity: 0.2;
    transform: rotateX(-5deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
