.faq__container {
  min-height: calc(100vh - 92px);
  width: 95vw;
  max-width: 1800px;
  margin: 2rem auto;
}

.faq__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 99vw;
  z-index: -1;
  margin-top: 7.5rem;
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 70vh;
  width: 100%;
}

.faq__title {
  font-family: IntegralCF-bold, sans-serif;
  font-size: 3rem;
  text-align: left;

  background: url("./../../assets/faq.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.faq__desc {
  font-family: IntegralCF-regular, sans-serif;
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  stroke {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
}
